* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Open Sans', arial, sans-serif;
  min-width: min-content;
  min-height: 100vh;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main-wrapper {
  flex-grow: 1;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

a:visited {
  color: inherit;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin: 0;
  border-bottom: .25rem solid #fc6c0c;
  color: #fc6c0c;
  padding: 1rem
}

footer {
  width: 100%;
  height: .25rem;
  background: #fc6c0c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin-top: 2rem;
  font-size: 10px;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
}

h2 {
  font-size: 1.6em;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

header h1 {
  width: auto;
  font-size: 2.8em;
  margin: 0;
}

header h2 {
  width: auto;
  margin: 0;
}

nav {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
  border-bottom: 1px solid #efefef;
}

nav > a {
  color: #444;
  display: block;
  flex: 1;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

nav.collection {
  border: none;
}

nav.collection > ul {
  padding: 0;
  list-style: none;
}

nav.collection > ul > li {
  padding: 4px 0;
}

nav.collection > ul > li.selected {
  font-weight: 600;
  color: #fc6c0c;
}

nav.collection a {
  text-decoration: none;
}

nav.collection a:hover {
  text-decoration: underline;
}

section.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 488px));
  grid-gap: 48px;
  justify-content: center;
}

section.columns > div {
  flex: 1;
}

section.examples {
  display: grid;
  grid-template-columns: 240px minmax(400px, 784px);
  grid-gap: 48px;
  justify-content: center;
}

section.examples h2:first-of-type {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  color: #fc6c0c;
  font-weight: 600;
  font-size: 12px;
}

td, th {
  border: solid 1px #aaa;
  padding: 4px;
  text-align: left;
  vertical-align: center;
  font-size: 14px;
}

hr {
  margin: 2.5rem 0;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.selectbox-wrapper {
  display: flex;
  flex-direction: row;
}

#proceed-button {
  background-color: #fc6c0c;
  color: white;
  border-radius: 15px;
  border: none;
  padding: .5rem;
}

li {
  font-size: 12px;
}

.ing {
  color: #fc6c0c
}

.actions-cell {
  display: flex;
  justify-content: space-around;
}

#employeesList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15;
}

.add-new-employee {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fc6c0c;
  font-size: 12px;
  margin-bottom: 1rem;
  gap: 5px;
}

.add-new-employee:hover {
  cursor: pointer;
}

.logout:hover {
  cursor: pointer;
}

.ing-logo:hover {
  cursor: pointer;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.btn-group-horizontal {
  flex-direction: row;
}

.hr-btn {
  min-width: 10rem;
}

.logout-proceed-button {
  background-color: #fc6c0c;
  color: white;
  border-radius: 5px;
  border: none;
  padding: .5rem;
}

.logout-proceed-button:hover {
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: none;
  padding: .5rem;
}

.logout-cancel-button {
  background-color: white;
  border-radius: 5px;
  border: black 1px solid;
  padding: .5rem;
}

.logout-cancel-button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
  border: white 1px solid;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    margin: 15% auto;
    width: 25%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sm-modal-content {
    width: 25%;
}

.lg-modal-content {
    width: 50%;
}

.close,
.closeLogoutModal,
.closeAddNewEmployeeModal,
.closeEditEmployeeModal,
.closeDeleteEmployeeModal {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.closeLogoutModal:hover,
.closeAddNewEmployeeModal:hover {
    color: #fc6c0c;;
}